@import "../abstract/variables";

/* Container for the spinner, centered within a 30vh height */
.spinner-container {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
  height: 30vh; /* Set container height */
}

/* Styling for the spinner element */
.spinner {
  position: relative; /* Relative positioning for child elements */
  width: 50px; /* Fixed width */
  height: 50px; /* Fixed height */
  display: flex; /* Flex display */
  align-items: center; /* Vertically center items */
  justify-content: center; /* Horizontally center items */
}

/* Common styling for spinner pseudo-elements */
.spinner::before,
.spinner::after {
  border: 6.7px solid $color-main; /* Border color from variables */
  border-radius: 50%; /* Round borders */
  position: absolute; /* Absolute positioning */
  content: ''; /* Empty content */
  display: block; /* Block display */
}

/* Styling for the spinner's ::before pseudo-element */
.spinner::before {
  width: 33.6px; /* Fixed width */
  height: 33.6px; /* Fixed height */
  border-bottom-color: transparent; /* Transparent bottom border */
  border-left-color: transparent; /* Transparent left border */
  animation: spinner-1o3y8q 0.75s infinite linear reverse; /* Animation settings */
}

/* Styling for the spinner's ::after pseudo-element */
.spinner::after {
  animation: spinner-1o3y8q 0.5s infinite linear; /* Animation settings */
  height: 56px; /* Fixed height */
  width: 56px; /* Fixed width */
  border-right-color: transparent; /* Transparent right border */
  border-top-color: transparent; /* Transparent top border */
}

/* Keyframes for the spinner rotation animation */
@keyframes spinner-1o3y8q {
  to {
    transform: rotate(360deg); /* Full rotation */
  }
}
