<div style="background-color: #e86e1e;">

  <ng-container *ngIf="weatherForecastData$ | async as forecastData">
      <div *ngFor="let forecast of forecastData">
        <p><strong>Date/Time:</strong> {{ forecast.dt | dateTransform }}</p>
        <p><strong>Temperature:</strong> {{ forecast.main.temp }}°C</p>
        <p><strong>Weather Description:</strong> {{ forecast.weather[0].description }}</p>
        <img *ngIf="forecast.weather && forecast.weather[0].icon"
             [src]="'assets/media/weather/' + forecast.weather[0].icon + '.png'" [alt]="forecast.weather[0].description">
      </div>

  </ng-container>


</div>
