<!-- Using ng-container to handle asynchronous data -->
<ng-container *ngIf="weatherData$ | async as data">
  <!-- Iterate over each weather object in the data array -->
  <div style="text-align: center" *ngFor="let weather of data">
    <!-- Display the temperature of the city -->
    <span style="font-size: 3rem" *ngIf="weather.main">{{ weather.main.temp.toFixed(0) }}°</span>

    <p style="text-transform: uppercase; font-size: 1rem; padding: 10px 0"
       *ngIf="weather.weather">{{ weather.weather[0].description }}</p>

      <span *ngIf="weather.main">L: {{ weather.main.temp_min }} | H: {{ weather.main.temp_max }}</span>

  </div>
</ng-container>
