<!-- Angular container to check if weatherCurrentData$ is available and assign it to currentData START -->
<ng-container *ngIf="weatherCurrentData$ | async as currentData; else loadingData">

  <!-- Display the temperature of the city if available -->
  <span class="text-shadow font-size-3" *ngIf="currentData.main">{{ currentData.main.temp.toFixed(0) }}°</span>

  <!-- Display the weather description in uppercase if available -->
  <p class="padding-x-8" *ngIf="currentData.weather">{{ currentData.weather[0].description | translate }}</p>

  <!-- Display the low and high temperatures of the city if available -->
  <span *ngIf="currentData.main"><b>L</b>: {{ currentData.main.temp_min.toFixed(0) }}
    | <b>H</b>: {{ currentData.main.temp_max.toFixed(0) }}</span>

  <!-- Display error message if currentData is null or undefined START -->
  <ng-container *ngIf="!currentData" class="error-container">
    <span class="error-message">
      {{ errorMessage }}
    </span>
  </ng-container>
  <!-- Display error message if currentData is null or undefined END -->
</ng-container>
<!-- Angular container to check if weatherCurrentData$ is available and assign it to currentData END -->

<!-- Display spinner while data is loading START -->
<ng-template #loadingData>
  <app-spinner *ngIf="spinner"></app-spinner>
</ng-template>
<!-- Display spinner while data is loading END -->
