<!-- Angular container to check if weatherDataCity$ is available and assign it to cityData START -->
<ng-container *ngIf="weatherDataCity$ | async as cityData; else loadingData">

  <!-- Display the name of the city if weather data is available -->
  <p class="font-size-2" *ngIf="cityData.main">{{ cityData.name }}</p>

  <!-- Display error message if cityData is null or undefined START -->
  <ng-container *ngIf="!cityData" class="error-container">
    <span class="error-message">
      {{ errorMessage }}
    </span>
  </ng-container>
  <!-- Display error message if cityData is null or undefined END -->

</ng-container>
<!-- Angular container to check if weatherDataCity$ is available and assign it to cityData END -->

<!-- Display formatted date and time of the last update using WeatherService -->
{{ weatherService.formattedDateTime?.date }} {{ 'at' | translate}} {{ weatherService.formattedDateTime?.time }}

<!-- Display spinner while data is loading START -->
<ng-template #loadingData>
  <app-spinner *ngIf="spinner"></app-spinner>
</ng-template>
<!-- Display spinner while data is loading END -->
