/* Apply Montserrat font to all elements with a fallback to sans-serif, set base font size, and reset padding and margin */
* {
  font-family:"Montserrat", sans-serif ;
  font-size: 0.9rem;
  padding: 0;
  margin: 0;
}

/* Font size city */
.font-size-3 {
  font-size: 3rem;
}

/* Font size city */
.font-size-2 {
  font-size: 2rem;
}
