<!-- Main container START -->
<div class="container">

  <!-- Header section START -->
  <div class="header shadow">
    <app-header></app-header>
    <div class="language-buttons">
      <button style="color: black; background-color: white; padding: 10px;" (click)="toggleLanguage()">{{ getCurrentLanguageText() }}</button>
    </div>
  </div>
  <!-- Header section END -->

  <!-- Content positioning section START -->
  <div class="content-position">
    <!-- Main content START -->
    <div class="content">

      <!-- Timestamp section START -->
      <div class="timestamp shadow">
        <app-data-get-time></app-data-get-time>
      </div>
      <!-- Timestamp section END -->

      <!-- Info and forecast container START -->
      <div class="info-container">

        <!-- Info section START -->
        <div class="info shadow">
          <app-data-get-temp></app-data-get-temp>
        </div>
        <!-- Info section END -->

        <!-- Forecast section START -->
        <div class="forecast shadow">
          <app-data-get-forecast></app-data-get-forecast>
        </div>
        <!-- Forecast section END -->

      </div>
      <!-- Info and forecast container END -->
    </div>
    <!-- Main content END -->
  </div>
  <!-- Content positioning section END -->

  <!-- Refresh button section START -->
  <div class="refresh-button">
    <app-refresh-button></app-refresh-button>
  </div>
  <!-- Refresh button section END -->

</div>
<!-- Main container END -->
