<body>
<!-- Component showing fixed header -->
<app-header style="position: fixed; width: 100%; z-index: 100;">Weather App</app-header>

<!-- Adding padding and height -->
<div class="main-content">
  <!-- Component showing name of the city and time of a refresh -->
  <div class="city-time">
    <app-data-get-time />
  </div>

  <div class="data-container">
    <!-- Component showing current temp, temp_max, temp_min and description -->
    <div class="temp-section">
      <app-data-get-temp />
    </div>

    <!-- Component showing 5 day forecast -->
    <div class="forecast-section">
      <app-data-get-forecast />
    </div>
  </div>

  <!-- Refresh data button -->
  <div class="refresh-button">
    <app-refresh-button />
  </div>
</div>
</body>
